body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(img/Field.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.zangiefDancer{
  /*
  background-image: url(img/ZangiefImage.png);
  background-repeat: no-repeat;
  */
  height: 80px;
  width: 50px;
  position:absolute;
}

.popDancer{
  /* /* border:10px solid teal; */
  border-radius:50%;
  height:33px;
  width: 33px;
  position:absolute;
}


.mirror {
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}


